/* src/components/Header.css */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: relative;
}

.ant-menu-horizontal {
  border-bottom: none;
}

.menu-icon {
  margin-right: 8px;
}

.menu-text {
  vertical-align: middle;
}

.language-switch-button {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .header-container {
    padding: 10px;
  }

  .menu-text {
    display: none;
  }

  .ant-menu-horizontal > .ant-menu-item,
  .ant-menu-horizontal > .ant-menu-submenu {
    padding: 0 12px !important;
  }

  /* 确保语言切换按钮始终位于右上角 */
  .language-switch-button {
    top: 10px;
    right: 20px;
    width: auto; /* 自适应宽度 */
    text-align: left;
  }
}
